* {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40px;
}

.Brand-name {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.Navbar-dropdown>* {
  text-decoration: none;
}

/* .Logo a {
  text-decoration: none;
  color: wheat;
} */

.Box-sections ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.Box-ItemListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Title-itemListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Cart-widget {
  margin: 10px 10px 10px 0;
}