* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

main {
  margin-top: 70px;
}

.App-logo {
  height: 50px;
}

.Brand-name {
  text-decoration: none;

}

.App-navbar {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

/* .Navbar-dropdown>* {
  text-decoration: none;
} */

/* .Logo a {
  text-decoration: none;
  color: wheat;
} */

/* .ItemListContainer {
  margin-top: 60px;
} */

.Box-sections ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.Box-ItemListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.Title-itemListContainer,
.title-cartpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}


.Cart-widget {
  margin: 10px 10px 10px 0;
  cursor: pointer;
}



.qty-display {
  /* position: relative;
  left: -5px;
  top: -10px;
  z-index: 2;
  border: 1px solid crimson;
  border-radius: 50%;
  color: white; */
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  color: white;
  font-weight: bold;
}

.card:hover {
  background-color: gainsboro;
}

/* .ItemDetailContainer {
  margin-top: 60px;
} */